<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SB Admin 2 - Olvidé mi Contraseña</title>
    <link th:href="@{/sbAdmin/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/sbAdmin/css/sb-admin-2.min.css}" rel="stylesheet">
</head>
<body class="bg-gradient-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block" th:style="'background: url(' + @{/img/olvidarContrasenia.svg} + ') center center no-repeat; background-size: contain;'"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-2">¿Olvidaste tu contraseña?</h1>
                                        <p class="mb-4">Ingresa tu correo electrónico y te enviaremos un código para restablecerla.</p>
                                    </div>
                                    <form class="user" id="forgotForm" th:action="@{/olvide-password}" method="post">
                                        <div class="form-group">
                                            <input type="email" class="form-control text-dark" name="correo" placeholder="Ingresa tu correo electrónico">
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-block">
                                            Enviar Código
                                        </button>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a th:href="@{/registro}">Crear una cuenta</a>
                                    </div>
                                    <div class="text-center">
                                        <a th:href="@{/iniciar-sesion}">¿Ya tienes cuenta? Inicia sesión</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/sbAdmin/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/sbAdmin/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/sbAdmin/js/sb-admin-2.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#forgotForm").validate({
                errorClass: "text-danger small mt-1 px-3",
                errorElement: "div",
                rules: { correo: { required: true, email: true } },
                messages: { correo: "Ingrese un correo válido" }
            });
        });
    </script>
</body>
</html>